/*body {
    background-color: black;
}

 h1 {
     color: red;
}

#p1 {
    color: lightgreen;
}


#p2 {
    color: lightcoral;
}

#p3 {
    color: lightpink;
}

#p4 {
    color: lightseagreen;
} 


h1 {
    color: aliceblue;
}

.odd {
    color: lightgreen;
}

.even {
    color: lightsalmon;
} 

h1 {
    color: red;
}

#p1 {
    color: rgb(237, 69, 105);
}

#p2 {
    color: #ed4569;
}

#p3 {
    color: hsl(99, 82%, 45%);
} 

h1 {
    font-family: sans-serif;
}

#p1 {
    font-family: Verdana;
    font-size: 2em;
    font-weight: bold;
    font-style:italic;
} 

h1 {
    /* border-style: solid; */
    /* border-style: dotted; */
    /* border-style: dashed; */
    /* border-style: double; */
    /* border-style: groove; */
    /* border-style: solid;
    border-width: 6px;
    border-color: lawngreen;
    border-radius: 5px;
    border: 5px solid green;
    border-radius: 6px;
}

#p1 {
     border-bottom: 3px dotted green;
}

#p1 {
    border-left: 3px dashed lawngreen;
} 


#myH1 {
    text-shadow: 2px 2px 4px lightcoral, -2px -2px 4px lightgreen;
}

#box1 {
    width: 100px;
    height: 100px;
    background-color: lightskyblue;
    box-shadow:  2px 2px 4px lightcoral, -2px -2px 4px lightgreen;
} 
 body {
    margin: 0px;
 }

 .box {
    border: 5px solid ;
    font-size: 5em;
    width: 250px;
    height: 250px;
    /* margin: 200px; */
    /* margin: auto; 
    
 }

 #box1 {
      background-color: lightblue;
      /* margin-top: 50px; */
      /* margin-bottom: 50px; */
      /* margin-left: 200px;
      margin-top: 200px; 
      margin: 200px; */
      /* margin-left: auto; */


 /* }

 #box2 {
    background-color: lightcoral;
   margin-left: 200px; 
 } 

body {
    border: 3px solid;
    display: flow-root;
}

#img1 {
  
    float: left;
    margin-right: 10px;

}

#img2 {
    float: right;
    margin-left: 10px;
} */


/* #div1 { */
    /* border: 2px solid;   
    height: 60px; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */
/* } 


/* 
#div1 {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    /* display: inline-block;
    display: none;
    visibility: hidden;
}

#span1 {
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}  

Postions in css

Relative - Postioned relative to hwere it normally is

fixed - postioned relative to view port or webpage

absolute - postioned relative to nearest ancestor 

sticky - postion based on scroll 

static - default posbtion for an element 




#box1 {
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    /* position: relative; 
      top: 100px;
    left: 100px;
   
    position: fixed;
    right: 0px;
    bottom: 0px; 
     position: sticky; 

  
}

 #box2 {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    /* position: sticky;
    top: 50px;
    left: 50px;
}

#box3 {
    width: 50px;
    height: 50px;
    background-color: lightslategrey;
    position: absolute;
    top: 25px;
    left: 25px;



   Combinators - explains the realationship bt listed sectors

   | = desecdent 
   > = child
   ~ = general sibling
   + = adjacent

    
} 

#container {
    border: 2px solid;
}

/* #container p {
    background-color: lightcoral;
}  */


/* #container > p {
    background-color: lightcoral;
}  */

/* #container ~ p {
    background-color: lightcoral;
} 

#container + p {
    background-color: lightcoral;
} 

Pseudo classes 







a:link {
    color: lightcoral;
}

a:hover {
    color: chartreuse;
    font-size: large;
}

a:visited {
    color: grey;
}

li:hover {
    background-color: lightcoral;
    font-size: large;
}

li:not(:hover) {
    background-color: grey;
} 

li:nth-child(8n) {
    background-color: yellow;
}
 


Pseudo element - ::



h1::first-letter {
    font-size: 2em;
    font-style: italic;
}

p::first-line {
    background-color: greenyellow;
}
p::selection {
    color: white;
    background-color: darkgreen;
}

#veggies li::before {
    content: "✔️";
}

#carrot::after {
    content: "🥕";
}
#beans::after {
    content: "🫛";
}
#beetroot::after {
    content: "🫚";
}



#veggies li::marker {
    content: none;
} 
    

Flexbox 



*/ 


/* .container { */
    /* display: flex;
    border: 10px solid black;
    height: 90vh; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center;
    flex-wrap: wrap; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-evenly; */
    /* align-content: space-between; */
    /* align-content: flex-start;
    column-gap: 3em;
    row-gap: 5em; */
    /* flex-wrap: wrap-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
  /* justify-content: space-between; */
    /* justify-content: space-around; */
/* }


.box {
    width: 100px;
    height: 100px;
    font-size: 5em;
    text-align: center;
    border-radius: 6px;
}

#box1 {
    background-color: lightgreen;
}

#box2 {
    background-color: lightcoral;
}

#box3 {
    background-color: steelblue;
}
#box4 {
    background-color: violet;
}

#box5 {
    background-color: lightpink;
} */











